header {
  background-color: rgb(240, 169, 88);
  display: flex;
  justify-content: space-between;
  margin:0px;
  padding:0px;
}

body {
  background-color: rgb(252, 209, 109, 01);
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.logo {
  width: 200px;
  height:200px;
}

.nav {
  align-self: flex-end;
  font-size: 100px;
  margin:0px;
  padding:0px;
}

.color-link {
  background-color: white;
  margin-right: 15px;
  padding: 10px;
  position: relative;
  border-radius: 8px;
  color: orangered;
  font-size: 20px;
  justify-content: space-around;
  text-decoration: none;
  flex-wrap: wrap;
}

.main-top {
  background-image: url("./img/resultats/girl-12-V1.webp");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 80vh;
  width: 100%;
}

.h1 {
  background-color: white;
  border-radius: 30px;
  color: orangered;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  margin: 20px;
  font-size: 3em;
}

.main-middle-1 {
  padding: 0px;
  margin: 0px;
}

.title-main-middle {
  color: orangered;
  background-color: white;
  position: absolute;
  bottom: -35px;
  right: 70px;
  border-radius: 30px;
  font-size: 1, 5em;
  padding: 20px;
  margin: 20px;
  z-index: 1;
  justify-content: center;
}

.image-container {
  position: relative;
}

.image-1 {
  width: 100%;
}

.texte {
  background-color: rgb(240, 169, 88);
  font-size: 20px;
  position: relative;
  top: -20px;
}

.p1 {
  padding: 35px;
  font-size: 16px;
  margin: 0px;
}

.container-footer {
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  color: black;
}

/*Effets sur les liens du footer*/

.footer-link {
  margin-right: 20px;
}

.footer-link-1 {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  transition: 0, 4s;
}

.footer-link-1:hover {
  font-size: 20px;
  color: rgb(148, 76, 76);
  text-decoration: underline;
}

.grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-middle {
  margin: 0px;
  padding: 0px;
  padding: 20px;
}

/*CONTACT */


.contact-title {
  background-image: url("./img/resultats/mail-5-V1.webp");
  background-size: cover;
  position: relative;
  height: 90vh;
  width: 100%;
}

.container-footer {
  /*Spécificités liens footer */
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  color: black;
}

.footer-link {
  text-decoration: none;
  list-style-type: none;
  margin-right: 20px;
}

.grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-footer {
  text-align: center;
  align-items: center;
  padding-bottom: 10px;
  color: black;
}

.footer-link-1 {
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
  transition: 0, 4s;
}

.footer-link-1:hover {
  font-size: 20px;
  color: rgb(109, 57, 5);
  text-decoration: underline;


}



.main {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 169, 88);
}

.space50 {
  flex-basis: 50%;

  box-sizing: border-box;
  font-size: 25px;
  padding: 55px;
   color:rgb(109, 57, 5);
   font-size:18px;
   
  
 
}


.form-button {
  color:rgb(109, 57, 5);
  background-color: orangered;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  font-size: 1, 2em;
  height: 50px;
  justify-content: center;
  display: flex;
  margin: 20px;
}

.form-button:hover {
  color: black;
  outline: 1px solid orangered;
  background-color:  rgb(252, 209, 109, 01);
  padding: 0px;
  font-size: 16px;
  border-radius: 8px;
  width: 100%;
  font-size: 1, 2em;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
}

.form-button:active {
  border: 5px solid orangered;

}

.h2 {
  font-size: 20px;
  font-weight: unset;
  margin-top:10px;

}


.prenom{
  width:100%;
 padding:10px;
 margin:5px;
 border-radius:8px;
 margin-bottom:15px;
 
}

.nom{
  width:100%;
 padding:10px;
 margin:5px;
 border-radius:8px;
 margin-bottom:15px;
}

.email{
  width:100%;
 padding:10px;
 margin:5px;
 border-radius:8px;
 margin-bottom:15px;
}

.scrolling-menu{
    width:100%;
   padding:10px;
   margin:5px;
   border-radius:8px;
   margin-bottom:15px;
   background-color: rgb(252, 209, 109, 01);
   box-sizing: content-box;
  
  }
  
.calendar{
  width:100%;
  padding:10px;
  margin:5px;
  border-radius:8px;
  margin-bottom:15px;
}



.message{
  width:100%;
  margin:8px;
  border-radius:8px;
  box-sizing: content-box;

  height:210px;
    vertical-align: top;
    padding: 5px;
  
  }


/* Style pour l'effet sur l'élément actif */
input:focus {
  outline: 1px solid orangered;
  background-color:  rgb(252, 209, 109, 01);

}

textarea:focus {
  outline: 1px solid orangered;
  background-color:  rgb(252, 209, 109, 01);

}


/*Media Quierries */


@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  
  }

  .header{
 
    flex-direction: row;
    display: flex;
   align-items: center;
  padding: calc(50% / 2);
  margin:calc(50%/2);

  }


  .nav{
 
    flex-direction: row;
    display: flex;
   align-items: center;
  padding: calc(50% / 2);
  margin:calc(50%/2;)

  }



}

